@model CRUDOprationPractise.Models.DepartmentModel


<h2>@(Model.Did==0?"Add Depattment":"Update Department")</h2>
<form asp-action="Save" method="post">

	<input type="hidden" asp-for="Did"/>

	<div class="form-group">
		<label asp-for="Dname"></label>
		<input asp-for="Dname" class="form-control"/>
		<span asp-validation-for="Dname" class="text-danger"></span>
	</div>

	@* <div class="form-group">
		<label asp-for="Eid"></label>
		<input asp-for="Eid" class="form-control" />
		<span asp-validation-for="Eid" class="text-danger"></span>
	</div>
 *@
	<div class="form-group">
		<label for="Eid">Employee</label>
		@Html.DropDownListFor(
					model => model.Eid,
					ViewBag.EmployeeList as IEnumerable<SelectListItem>,
					"Select Employee",
					new { @class = "form-control", id = "Eid" }
					)
	</div>



	<br/>
	<button type="submit"class="btn btn-success">Submit</button>
	<a asp-action="View" class="btn btn-secondary">Cancel</a>

</form>